.ProgressBar {
  width: 100%;
  display: block;
  position: relative;
  height: 4px;

  > .progress {
    background-color: #3f51b5;
    z-index: 1;
    left: 0;
  }

  > .bar {
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0%;
    //transition: width .2s cubic-bezier(.4, 0, .2, 1);
  }

  > .buffer {
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), linear-gradient(to right, rgb(63, 81, 181), rgb(63, 81, 181));
    z-index: 0;
    left: 0;
  }
}